<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand mx-5" href="#">Sala de Juegos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"
            >Pagina principal
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quien soy?</a>
        </li>
      </ul>
      <ul
        class="navbar-nav ml-auto me-5"
        *ngIf="user | async as user; else log"
      >
        <li class="nav-item">
          <a class="nav-link pointer" (click)="onLogout()">Logout</a>
        </li>
      </ul>
      <ng-template #log>
        <ul class="navbar-nav ml-auto me-5">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Iniciar sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/register']">Registrarse</a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
